/* Общая установка box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0078A8;
  --secondary-color: #86adce;
  --accent-color: #57b3ff;
  --text-color: #333;
  --background-color: #f0f8ff;
  --highlight-color: rgb(171, 148, 236);
  --scrollbar-track-color: #86adce;
  --scrollbar-thumb-color: #57b3ff;
}

/* Основные стили для body */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контентный блок */
.content {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 2rem;
  position: relative; /* Для управления дочерними элементами с absolute */
  z-index: 1;
  min-height: 600px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Заголовок */
h1 {
  text-align: center;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 2;
}

/* Разделы и статьи */
section {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Расстояние между статьями */
  margin-top: 1.5rem;
}

article {
  background-color:hsl(211, 100%, 87%);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  color: hsl(210, 80%, 50%); /* HSL формат */
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  color: rgba(51, 51, 51, 0.85); /* RGBA формат */
}

/* Изображение */
.image-container {
  margin-bottom: 1.5rem;
  text-align: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}


/* Ссылки */
a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  border-bottom: 2px dashed var(--primary-color);
  transform: scale(1.01) rotate(1deg);
  transition: transform 0.3s ease, border-bottom 0.1s ease;
}

/* Список ссылок */
ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выровнять ссылки по левому краю */
  gap: 10px; /* Отступ между ссылками */
  padding: 0;
  margin-top: 1rem;
  list-style-type: none;
}

li {
  margin-bottom: 0.5rem;
}

li a {
  font-family: Arial, sans-serif;
}

/* Блок выделенного текста */
.diff-text {
  background-color: var(--highlight-color);
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1.5rem;
}

/* Абсолютное позиционирование */
.absolute-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--accent-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.875rem;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  text-align: center;
}
.absolute-box a {
  color: var(--background-color);
}
/* Фиксированное позиционирование */
.fixed-box {
  position: fixed;
  bottom: 12px;
  left: 15px;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.875rem;
  animation: move-and-change 5s infinite ease-in-out;
  z-index: 3;
}

.fixed-box a {
  color: white;
}
.fixed-box a:hover {
  border-bottom: none;
}
/* Полоса прокрутки */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}


/* Подсказки */
input::placeholder {
  color: var(--secondary-color);
  font-style: italic;
}

input:focus::placeholder {
  color: var(--secondary-color);
  font-style: italic;
}

/* Стиль выделения */
::selection {
  background-color: var(--accent-color);
  color: white;
}
/* Радио и чекбоксы */
input[type="checkbox"]:checked + label {
  text-decoration: line-through; /* Перечеркиваем текст для отмеченных чекбоксов */
}

input[type="checkbox"]:not(:checked) + label {
  font-weight: normal;
}
/* Выравнивание чекбоксов и текста */
#contact-time label {
  display: inline-flex;
  align-items: center;
  margin: 0;
  gap: 10px; /* Пространство между чекбоксом и текстом */
  margin-bottom: 10px;
}
#contact-time label:nth-child(even) {
  background-color: #e0f7fa; /* Светло-голубой фон для четных элементов */
  padding: 5px;
  border-radius: 5px;
}

/* Нечетные элементы списка */
#contact-time label:nth-child(odd) {
  background-color: #fff9c4; /* Светло-желтый фон для нечетных элементов */
  padding: 5px;
  border-radius: 5px;
}
/* Стилизация чекбоксов */
input[type="checkbox"] {
  margin: 0; /* Убираем отступы */
}

/* Обязательные поля */
input[required] {
  border: 2px solid var(--primary-color);
}

/* Формы */
form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
}

fieldset {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
}

legend {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-bottom: 10px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select {
  font-size: 1rem;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color); 
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.1); 
}

button:focus {
  outline: 2px solid var(--primary-color);
}

/* Стиль для header */

header {
  position: absolute;
  top: 10px;
  left: 10px;
}
@keyframes move-and-change {
  0% {
      transform: scale(1);
      background-color: #ff7675;
  }
  25% {
      transform: scale(1.1);
      background-color: #74b9ff;
  }
  50% {
      transform: scale(1.2);
      background-color: #55efc4;
  }
  75% {
      transform: scale(1.1);
      background-color: #eb62cd;
  }
  100% {
      transform: scale(1);
      background-color: #ff7675;
  }
}
/* Карточка */
.card {
  width: 300px;
  height: 300px;
  background-color: #2e1a57;
  border: 1px solid #9d75ee;
  border-radius: 8px;
  position: absolute;
  bottom: -500px;
  right: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(157, 117, 238, 0.6);
}

/* Лоадер */
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #9d75ee;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transition: opacity 0.3s ease;
}

/* Скрытое содержимое карточки */
.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Содержимое при наведении */
.card:hover .loader {
  opacity: 0;
}

.card:hover .card-content {
  opacity: 1;
  visibility: visible;
}

/* Анимация вращения лоадера */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}